* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}
nav {
    height: 50px;
    background-color: #383737;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu_item {
    border-right: 2px dotted #000;
    padding-right: 28px;
}

.menu_link {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.logo_link {
    max-width: 100%;
    margin-top: 16px;
    display: block;
}

.subheader_official {
    margin-top: 6px;
    color:#fff;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
}

.subheader_call {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: center;
}

.subheader_phone {
    display: block;
    margin-top: 8px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .12);
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url('../img/main-bg.jpg') center center/cover no-repeat;
}

.promo_header {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo_subheader {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo_desc {
    margin-top: 23px;
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .12);
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.reason {
    margin-top: 74px;
}

.reason_sub {
    width: 112px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 5px 10px;
}

.reason_header {
    margin-top: 37px;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.reason_card {
    margin-top: 35px;
}

.reason_icon {
    background: #1eacc7;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    text-align: center;
    line-height: 115px;
}


.reason_desc {
    margin-left: 25px;
    max-width: 344px;
    font-size: 15px;
    font-weight: 400;
    color:#3e3e3e;
}

.reason_title{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #4bbdd2;
}